<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106541147-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106541147-1');
</script>
<title>TEST</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<div id="testing">
  <div v-cloak>
      <div v-if="type==='A'">
          <span>내가 바로 A 테스트지</span>
      </div>
  </div>

  <div v-cloak>
      <div v-if="type==='B'">
          <span>내가 바로 B 테스트지</span>
      </div>
  </div>
</div>

<script>
  abTest_vue = new Vue({

      el: '#testing',
      data: {
          type: 'A'
      },
      methods: {

      }
  });
</script>


</body>
</html>
